@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="header-container">
     <div class="left">
        <NavLink href="/">
            <img class="logo" src="images/shopping-logo.webp" alt="Logo" />
        </NavLink>
         <InputText @bind-Value="SearchText" class="p-2 text-sm rounded-md border w-full" />
     </div>
    <div class="right flex gap-4 items-center">
            
            <div class="relative">
            <button id="dropdownAvatarNameButton" @onclick="ToggleMenu" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
                <span class="sr-only">Open user menu</span>
                <img class="w-12 me-2 rounded-full" src="images/user-icon.jpg" alt="user photo">
                Login
                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                </svg>
            </button>
            @if (isMenuOpen)
            {
                <div id="dropdownAvatarName" class="z-100 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 absolute top-10 -left-10">
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        
                        <div class="truncate">Hello, Guest</div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li>
                    </ul>
                    <div class="py-2">
                        <NavLink @onclick="@(e=> HandleNavigate("/register"))" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
                             New User?
                        </NavLink>
                    </div>

                    <div class="py-2">
                        <NavLink @onclick="@(e=> HandleNavigate("/login"))" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
                            Login
                        </NavLink>
                    </div>
                </div>
            }
        </div>
                   
    </div>
</div>

@code {
  public bool isMenuOpen { get; set; }=false;
  public string SearchText { get; set; }=string.Empty;

  private void ToggleMenu()
  {
    isMenuOpen = !isMenuOpen;
  }

  private void HandleNavigate(string path)
  {
        isMenuOpen = false;
      Navigation.NavigateTo(path);
  }



}

