.header-container {
    display: grid;
    height:100%;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
}

    .header-container .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
   

    .header-container .right {
        grid-column: 4 / 5;
        justify-self: end;
    }

    .header-container .right ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
        .header-container .right ul li {
            list-style: none;
        }

       .header-container .right ul li a {
           text-decoration: none;
           color: #5e5d5d;
       }

.logo {
   height:50px;
   width:50px;
}
