@inherits LayoutComponentBase

<div class="container-content">
    <div class="public-header">
        <PublicHeader />
    </div>

    <main class="container main-content">
            @Body
    </main>

    <footer class="footer">
         <div class="footer-container">
                <div class="footer-flex footer-left">
                    <div class="footer-about">
                        <p>About</p>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                    </div>
                    <div class="footer-about">
                    <p>Help</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                    <div class="footer-about">
                    <p>CONSUMER POLICY</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                    <div class="footer-about">
                    <p>Social</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                </div>
                <div class="footer-flex footer-right">
                    <div class="footer-about">
                    <p>Mail Us</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                    <div class="footer-about">
                    <p>Registered Office Address:</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                </div>
            </div>
     </footer>

</div>

