@page "/"

@layout PublicLayout

<PageTitle>Home</PageTitle>

<h1>Hello, Public Home Page</h1>

Welcome to your new app.
<div class="flex flex-col w-1/2">
    <SfButton CssClass="e-primary" class="text-red-400">Primary</SfButton>
    <SfButton CssClass="e-success">Success</SfButton>
    <SfButton CssClass="e-info">Info</SfButton>
    <SfButton CssClass="e-warning">Warning</SfButton>
    <SfButton CssClass="e-danger">Danger</SfButton>
    <SfButton CssClass="e-link">Link</SfButton>
</div>

